resources/cinder_app_icon.ico
vc2013/CinderWithKinect01.opensdf
vc2013/CinderWithKinect01.sdf
vc2013/CinderWithKinect01.sln
vc2013/CinderWithKinect01.v12.suo
vc2013/Debug/CinderWi.A9C983D7.tlog/CL.read.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/CL.write.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/CinderWithKinect01.lastbuildstate
vc2013/Debug/CinderWi.A9C983D7.tlog/cl.command.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/link.command.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/link.read.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/link.write.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/rc.command.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/rc.read.1.tlog
vc2013/Debug/CinderWi.A9C983D7.tlog/rc.write.1.tlog
vc2013/Debug/CinderWithKinect01.exe
vc2013/Debug/CinderWithKinect01.ilk
vc2013/Debug/CinderWithKinect01.log
vc2013/Debug/CinderWithKinect01.pdb
vc2013/Debug/CinderWithKinect01App.obj
vc2013/Debug/ContourFinder.obj
vc2013/Debug/Kinect.obj
vc2013/Debug/Resources.res
vc2013/Debug/vc120.idb
vc2013/Debug/vc120.pdb
vc2013/Release/CinderWi.A9C983D7.tlog/CinderWithKinect01.lastbuildstate
vc2013/Release/CinderWi.A9C983D7.tlog/cl.command.1.tlog
vc2013/Release/CinderWi.A9C983D7.tlog/cl.read.1.tlog
vc2013/Release/CinderWi.A9C983D7.tlog/cl.write.1.tlog
vc2013/Release/CinderWi.A9C983D7.tlog/unsuccessfulbuild
vc2013/Release/CinderWithKinect01.log
vc2013/Release/ContourFinder.obj
vc2013/Release/vc120.pdb
